{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Список номеров:</h2>
<h3>Номер №1:</h3>
    <p>Описание: Номер двухместный, одна двуспальная кровать</p>
<h3>Номер №2:</h3>
    <p>Описание: Номер двухместный, две односпальные кровати</p>
<h3>Номер №3:</h3>
    <p>Описание: Номер трехместный, три односпальные кровати</p>
<h3>Номер №4:</h3>
    <p>Описание: Номер трехместный, одна односпальная кровать и одна двуспальная кровать</p>
<h3>Номер №5:</h3>
    <p>Описание: Номер четырехместный, две комнаты, две двуспальные кровати в разных комнатах</p>

{% endblock %}